name: Delete Old Workflows

on:
  workflow_dispatch:
  schedule:
    - cron: 0 15 * * *

jobs:
  Cleaning:
    runs-on: ubuntu-22.04

    steps:
    - name: Delete old Releases and Workflows
      uses: ophub/delete-releases-workflows@main
      with:
        gh_token: ${{secrets.GITHUB_TOKEN}}
        delete_releases: true
        releases_keep_latest: 7
        delete_tags: true
        delete_workflows: true
        workflows_keep_day: 7
        out_log: true
